- todo = local_assigns.fetch(:todo)

- return if Feature.enabled?(:hide_diff_summary, current_user)

- if todo.review_requested?
  - merge_request = todo.target
  - diff_llm_summary = diff_llm_summary(merge_request)
  - if summarize_llm_enabled?(merge_request.project) && diff_llm_summary.present?
    = render 'llm_summary', local_assigns: { content: truncated_diff_llm_summary(merge_request) }
