- breadcrumb_title s_('AIAgents|AI Agents')
- page_title s_('AIAgents|New AI Agent')
- view_model = Gitlab::Json.generate({ projectPath: @project.full_path })

#js-mount-new-ml-agent{ data: { view_model: view_model } }
