- breadcrumb_title s_('AiAgents|AI Agents')
- page_title s_('AiAgents|AI agent')
- view_model = Gitlab::Json.generate({ projectPath: @project.full_path, agentId: @agent_id })

#js-mount-show-ml-agent{ data: { view_model: view_model } }
