- page_title s_('ObservabilityMetrics|Metrics')
- @content_wrapper_class = "#{@content_wrapper_class} gl-pb-0"

#js-observability-metrics{ data: { view_model: observability_metrics_view_model(@project) } }
