- page_title s_('Analytics|Analytics dashboards')
- breadcrumb_title s_("Analytics|Analytics dashboards")

#js-analytics-dashboards-list-app{ data: analytics_dashboards_list_app_data(@group).merge({ available_visualizations: @available_visualizations&.to_json }) }
