- root_namespace = resource.root_ancestor
- return unless show_code_suggestions_ga_owner_alert?(root_namespace)

- content_for :page_level_alert do
  %div{ class: [container_class, @content_class, 'gl-pt-5!'] }
    = render Pajamas::BannerComponent.new(close_options: { class: 'js-close-callout',
        data: { testid: 'hide-code-suggestions-ga-owner-alert' },
        'aria-label' => s_('CodeSuggestionsGAAlert|Dismiss Code Suggestions banner') },
      banner_options: { class: 'js-code-suggestions-ga-alert',
        data: { feature_id: ::EE::Users::CalloutsHelper::CODE_SUGGESTIONS_GA_OWNER_ALERT,
          defer_links: 'true',
          dismiss_endpoint: callouts_path,
          testid: 'code-suggestions-ga-owner-alert' } }) do |c|
      - c.with_illustration do
        = image_tag image_path('illustrations/tanuki_ai_logo.svg'), alt: 'Tanuki AI Logo', class: 'gl-p-3 gl-rounded-lg bg-code-suggestions rounded-bottom-right-9'
      - c.with_title do
        = s_('CodeSuggestionsGAAlert|GitLab Duo Code Suggestions free access is ending soon')
      - c.with_primary_action do
        .js-hand-raise-lead-button{ data: code_suggestions_owner_alert_hand_raise_props(root_namespace) }

      %p= s_('CodeSuggestionsGAAlert|Continue accelerating your development with Code Suggestions. Starting February 15, 2024, a paid subscription will be required for access. Upgrade now to lock in the introductory price of $9 per user.')
