- if show_user_cap_alert?
  .gl-w-full.order-md-1.gl-sm-mb-5
    = render Pajamas::AlertComponent.new(variant: :info, dismissible: false) do |c|
      - c.with_body do
        = safe_format(_('User caps is enabled for this group, visit the %{pending_members_link_start}pending members%{pending_members_link_end} page to manage them.'), tag_pair(pending_members_link, :pending_members_link_start, :pending_members_link_end))

