= render Pajamas::ButtonComponent.new(href: new_trials_duo_pro_path(namespace_id: namespace.id), category: button_category, variant: 'confirm') do
  = s_("BillingPlans|Start a free GitLab Duo Pro trial")
