= render Pajamas::ButtonComponent.new(href: new_trials_duo_pro_path(namespace_id: namespace.id),
  category: button_category,
  variant: 'confirm',
  button_options: local_assigns.fetch(:button_options, {})) do
  = s_("BillingPlans|Start a free GitLab Duo Pro trial")
