@import './ai_genie_chat';
@import './audit_logs/logs_table';
@import './banner';
@import './batch_comments/draft_note';
@import './compliance_dashboard/dashboard';
@import './generic_vulnerability_report';
@import './related_items_tree';
@import './security_policies';
@import './tanuki_bot_chat';
@import './vulnerability_list';
