- page_title s_("TrialDiscoverPage|Discover")

%h2= s_('TrialDiscoverPage|Discover Premium & Ultimate')
%p= s_('TrialDiscoverPage|Access advanced features, build more efficiently, strengthen security and compliance.')
