- add_to_breadcrumbs _("Value Stream Analytics"), @data_attributes[:vsa_path]
- breadcrumb_title _("New")
- page_title s_("ValueStreamAnalytics|New Value Stream")
- add_page_specific_style 'page_bundles/cycle_analytics'

#js-vsa-settings-app{ data: @data_attributes }

